 .u-section-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  margin: 141px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 9.375rem;
  margin: 20px 81px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 46px;
  min-height: 16px;
  width: 198px;
  min-width: 108px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 115px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 64px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 64px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    width: auto;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 53px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 53px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 527px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 93px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 71px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 71px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 544px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 23px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 90px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 62px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 503px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: 244px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 27px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 63px;
  }
} .u-section-2 {
  background-image: url("images/6650625_557.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 457px;
}

.u-section-3 .u-text-1 {
  line-height: 1.4;
  margin: 60px 133px 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 133px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 30px 133px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
} .u-section-4 {
  min-height: 826px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 341px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 281px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 341px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 372px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 338px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-8 {
  margin: 22px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 338px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 701px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 281px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 307px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 279px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 542px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1248px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 482px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2026px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 303px;
  }
} .u-section-5 {
  min-height: 376px;
}

.u-section-5 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 256px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  width: 129px;
  height: 62px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  width: 129px;
  height: 62px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  width: 129px;
  height: 62px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  width: 129px;
  height: 62px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  width: 129px;
  height: 62px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-image-6 {
  width: 129px;
  height: 62px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px;
}

.u-section-5 .u-image-7 {
  width: 129px;
  height: 62px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 10px;
}

.u-section-5 .u-image-8 {
  width: 129px;
  height: 62px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 332px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 16px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 212px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 736px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 38px;
    margin-top: 38px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 804px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -162px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-6 {
  min-height: 638px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 668px;
  background-image: url("images/24667.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 668px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-1 {
  line-height: 1.6;
  font-size: 1.875rem;
  margin: 61px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 41px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 521px;
  }

  .u-section-6 .u-image-1 {
    min-height: 551px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 551px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 392px;
  }

  .u-section-6 .u-image-1 {
    min-height: 422px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1236px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -60px;
    margin-bottom: -60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 633px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 963px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: -45px;
  }

  .u-section-6 .u-image-1 {
    min-height: 399px;
  }
} .u-section-7 {
  min-height: 918px;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 6rem;
  margin: 19px auto 0;
}

.u-section-7 .u-social-icons-1 {
  height: 46px;
  min-height: 16px;
  width: 198px;
  min-width: 108px;
  margin: 21px auto 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-form-1 {
  height: 453px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 64px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 64px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-4 {
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 883px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2)  + 157px);
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 36px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 53px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 53px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 893px;
  }

  .u-section-7 .u-text-2 {
    margin-left: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 72px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 72px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 886px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 79px;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 59px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 62px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 896px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 61px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 61px;
  }
}